<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>head</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <div class="header-div">
            <h1>Skynet Web Blog</h1>
            <ul class="links">
                <li class="item"><a href="/">Home</a></li>
                <li class="item"><a href="/newPost">Make New Post</a></li>
            </ul>
                
        </div>
    </header>
</body>
</html>